body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow, Arial, sans-serif;	
}

h1 {
	font-size: 30px;
	line-height: 42px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow, Arial, sans-serif;	
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow, Arial, sans-serif;	
}

htnml, body {
	min-width: 1000px;
	min-height: 977px;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	margin-bottom: 60px;
	
	/* только для создания сетки */
	outline: 1px solid green;
}

.container {
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	
	/* только для создания сетки */
	outline: 1px solid red;
}

.shop-logo {
	float: left;
	width: 140px;
	
	/* только для создания сетки */
	min-height: 74px;
	outline: 1px solid blue;
}

.main-navigation {
	float:left;
	width: 660px;
	
	/* только для создания сетки */
	min-height: 74px;
	outline: 1px solid black;	
}

.user-block {
	float:right; 
	width: 140px;
	
	/* только для создания сетки */
	min-height: 74px;
	outline: 1px solid yellow;	
}

.catalog-title {
	margin-bottom: 27px;
	
	/* только для создания сетки */
	min-height: 27px;
	outline: 1px solid yellow;	
}

.breadcrumbs {
	margin-bottom: 56px;
	
	/* только для создания сетки */
	min-height: 12px;
	outline: 1px solid yellow;	
}

.shop-content-block {
	
	/* только для создания сетки */
	min-height: 682px;
	outline: 1px solid yellow;	
}

.filter {
	float:left;
	width: 230px;
	
	/* только для создания сетки */
	min-height: 682px;
	outline: 1px solid blue;	
}

.products {
	float: right;
	width: 710px;
	
	/* только для создания сетки */
	min-height: 682px;
	outline: 1px solid red;
}

.product-list {
	
	/* только для создания сетки */
	min-height: 594px;
	outline: 1px solid blue;
}

.pagination {
	
	
	/* только для создания сетки */
	min-height: 45px;
	outline: 1px solid blue;
}

.main-footer {
	margin-top: 49px;
	padding-top: 62px;
	padding-bottom: 40px;
	
	/* только для создания сетки */
	outline: 1px solid green;
}

.adress {
	float: left;
	width: 380px;
	padding-right: 10px;
	
	/* только для создания сетки */
	min-height: 87px;
	outline: 1px solid blue;
}

.social {
	float: left;
	width: 140px;
	padding-right: 10px;
	padding-left: 10px;
	
	/* только для создания сетки */
	min-height: 87px;
	outline: 1px solid black;
}

.developers {
	float: right;
	width: 140px;
	
	/* только для создания сетки */
	min-height: 87px;
	outline: 1px solid yellow;
}

.catalog-item-block {
	
	
	/* только для создания сетки */
	min-height: 1005px; /* пока поставила такую высоту, чтобы выпадающие из блока галереи картинки в ul li не ломали сетку */
	outline: 1px solid yellow;
}

.gallery-block {
	float: left;
	width: 460px;
	
	/* только для создания сетки */
	min-height: 671px;
	outline: 1px solid black;
}

.item-description {
	float: right;
	width: 390px;
	
	/* только для создания сетки */
	min-height: 671px;
	outline: 1px solid green;
}

.product-stock-status {
	margin-top: 28px;
	margin-bottom: 43px;
	
	/* только для создания сетки */
	min-height: 10px;
	outline: 1px solid red;
}

.desc-stock {
	float:left;
	width: 170px;
	
	/* только для создания сетки */
	min-height: 10px;
	outline: 1px solid blue;
}

.desc-vendor-code {
	float: right;
	width: 160px;
	
	/* только для создания сетки */
	min-height: 10px;
	outline: 1px solid blue;
}

.desc-main-text {
	margin-bottom: 43px;
	
	/* только для создания сетки */
	min-height: 130px;
	outline: 1px solid blue;
}

.desc-buy-block {
	margin-bottom: 68px;
	
	/* только для создания сетки */
	min-height: 43px;
	outline: 1px solid blue;
}

.desc-complectation {
	
	/* только для создания сетки */
	min-height: 165px;
	outline: 1px solid blue;
}